<article>
  <%= "#{asset_pair.name} (#{asset_pair.import_status})" -%>
  <% if asset_pair.importing? %>
    <progress></progress>
  <% elsif asset_pair.waiting? %>
    Import is scheduled.
  <% else %>
    <%= link_to "Chard", asset_pair_ohlcs_path(asset_pair) %>
    <%= button_to "Start import.", asset_pair_import_path(asset_pair) %>
  <% end %>
  <p><%= asset_pair.trades_count -%> trades imported!</p>
</article>
