<h1>Asset pairs</h1>

<article class="component">
  <%= link_to 'Import Asset Pair', new_asset_pair_import_path %>

  <table id="asset-pairs">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">???</th>
        <th scope="col">???</th>
      </tr>
    </thead>
    <tbody>
      <% @asset_pairs.each do |asset_pair| %>
        <tr>
          <th scope="row"><%= link_to asset_pair.name, asset_pair_path(asset_pair) -%></th>
          <td>
            <% if asset_pair.missing_on_exchange? %>
              Missing on exchange
            <% else %>
              Active
            <% end %>
          </td>
          <td>???</td>
          <td>???</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
